.container {
  padding: 0 5%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.hero-h1 {
  font-size: 3rem;
  color: #fff;
}

.hero-element-subheading {
  color: #fff;
  font-size: 1.5rem;
}

.search-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
  margin-left: 130px;
}

.search {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.form-field {
  padding: 0.5em 0.75em;
  color: inherit;
  border: 1px solid #E2E8F0;
  background-color: #fff;
  width: 430px;
  height: 54px;
  border-radius: 100px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 1rem;
}

.search-submit-button {
  border: 0;
  border-radius: 100px;
  color: #FFF;
  height: 54px;
  font-size: 1rem;
  font-weight: 600;
  transition: background .4s;
  transition-timing-function: cubic(0.64, 0.04, 0.35, 1);
  background: #191919;
  width: 140px;
}

.acorns-hero-img {
  height: 225px;
  width: 60%;
}

.search-submit-button:hover {
  cursor: pointer;
  background: #303030;
}

.acorns-hero-img-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (min-width: 1440px) {
  .acorns-hero-img-container {
  	height: 400px;
    width: auto;
	}
  
  .acorns-hero-img {
    width: auto;
  	height: 100%;
	}
}
